In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-2.3.3-cp310-cp310-win_amd64.whl (11.3 MB)
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-win_amd64.whl (12.9 MB)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.3.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the 'c:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [2]:
pip install numpy

Requirement already satisfied: numpy in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 25.3 is available.
You should consider upgrading via the 'c:\Users\HP\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Reading csv file and printing initial sample rows
df = pd.read_csv('products.csv')
df.head()

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40

In [5]:
print(df)

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
7         108      Headphones  Electronics   1299         8
8         109      Coffee Mug         Home    149        60
9         110      HDMI Cable  Accessories    299        35

In [6]:
len(df)

10

In [7]:
print(df[df['price'] > 500])

print('\ncount of total number of products priced above 500 are: ',len(df[df['price'] > 500]))

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
5         106        Backpack         Bags    899        10
7         108      Headphones  Electronics   1299         8

count of total number of products priced above 500 are:  4

In [8]:
print(f"Average price of all products : {df['price'].mean()}")

Average price of all products : 461.1

In [10]:
print(df)
cat = input("Enter category:")

   product_id    product_name     category  price  quantity
0         101  Wireless Mouse  Electronics    599        25
1         102        Keyboard  Electronics    799        15
2         103       USB Cable  Accessories    199        50
3         104        Notebook   Stationery     49       120
4         105    Water Bottle         Home    299        40
5         106        Backpack         Bags    899        10
6         107             Pen   Stationery     20       300
7         108      Headphones  Electronics   1299         8
8         109      Coffee Mug         Home    149        60
9         110      HDMI Cable  Accessories    299        35

In [11]:
print(df[df['category'] == cat])

Empty DataFrame
Columns: [product_id, product_name, category, price, quantity]
Index: []

In [12]:
print(f"Total quantity of all items in stock: {df['quantity'].sum()}")

Total quantity of all items in stock: 663